#include <iostream>
#include <iomanip>
#include <fstream>
#include <cmath>
using namespace std;

//Josiah Light
ofstream fout;
class chart
{
    public:
        void set_p()
        {
          
fout.open("chart.txt");
        }
   
        void display_p()
        {
            cout << "Date:   Time:   Players:" << endl;
    if (input.is_open()) {
        string line;
        while (getline(input, line)) {
            cout << line << endl;
            ptr[size] = line;
            size++;
        }
        input.close();
        }
};
 
class time: private chart
{
    public:
    void set_s()
        {
           fout.open("chart.txt"); 
        }
         
        void display_s()
        {
            cout << "Date:   Time:   Players:" << endl;
    if (input.is_open()) {
        string line;
        while (getline(input, line)) {
            cout << line << endl;
            ptr[size] = line;
            size++;
        }
        input.close();
        }
};
int main() {
fout.open("chart.txt");
 int size = 0;
cout << "Date:   Time:   Players:" << endl;
    if (input.is_open()) {
        string line;
        while (getline(input, line)) {
            cout << line << endl;
            ptr[size] = line;
            size++;
        }
        input.close();
  fout.close();
	return 0;
