#include <iostream>
#include <iomanip>
#include <fstream>
#include <cmath>
using namespace std;
//Josiah Light

int main() {
ofstream fout;
fout.open("chart.txt");
  x, n;
	int *array = new int["chart.txt"];
	for (x = 0; x < n; x++) {
		cin >> arr[x];
	}
  fout.close();
	return 0;
